/*
Authors: Ethan Hindes and Alex Ruchti
 */

body {
    font-family: Calibri, serif;
}

div.row {
    display: flex;
}

#color_input_form {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 10px;
}

#app_container {
    display: flex;
    flex-direction: row;
}

#color_menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    horiz-align: center;
}
#tool_menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    horiz-align: center;
}

#custom_invalid_tag {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

label {
    font-size: 40px;
    text-align: center;
    margin: auto;
}

div.cell {
    height: 10px;
    width: 10px;
}

label {
    margin:10px;
}

button, input {
    margin:10px;
    padding: 5px;
    font-size:40px;
    border: transparent solid 0;
    border-radius: 10px;
}

input {
    text-align: center;
    background-color: white;
}

div.indicator {
    height:20px;
    width:20px;
    margin: 10px;
}

div.drawing {
    width: 80%;
    height: 80%;
}

h1, h2 {
    margin: auto;
    text-align: center;
}